h1{
    width: 100%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 1%  0 3%0;
    color: #9e2a2b;
    
}



.vino{
    width: 100%;
    margin: 1% 0 1% 3%;
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    text-align: center;
    color: #000000;

}

.titulo{
    width: 100%;
    margin: 0 0 1% 3%;a
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000000;
}

div{
    width: 100%;
    margin: 1% 0 0 2%;
    color: #000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

div .img-1{
    width: 100%; 
    margin: 1% ;
}

.vino1{
    width: 35%;

}
div .img-2 {
    width: 100%;
    margin: 1%;
}

.vino2 {
    width: 10%;

}

div .img-3 {
    width: 100%;
    margin: 1%;
}

.vino3{
    width: 25%;

}

div .img-4 {
    width: 100%;
    margin: 1%;
}

.vino4 {
    width: 25%;

}
div .img-5 {
    width: 100%;
    margin: 1%;
}

.vino5{
    width: 25%;

}
div .img-6 {
    width: 100%;
    margin: 1%;
}

.vino6 {
    width: 25%;

}

div .img-7 {
    width: 100%;
    margin: 1%;
}

.vino7 {
    width: 30%;

}
div .img-8 {
    width: 100%;
    margin: 1%;
}

.vino8 {
    width: 25%;

}
div .img-9 {
    width: 100%;
    margin: 1%;
}

.vino9 {
    width: 13%;

}
div .img-10 {
    width: 100%;
    margin: 1%;
}

.vino10 {
    width: 25%;

}
div .img-11 {
    width: 100%;
    margin: 1%;
}

.vino11 {
    width: 25%;

}
div .img-12 {
    width: 100%;
    margin: 1%;
}

.vino12 {
    width: 25%;

}
div .img-13 {
    width: 100%;
    margin: 1%;
}

.vino13 {
    width: 35%;

}
div .img-14 {
    width: 100%;
    margin: 1%;
}

.vino14 {
    width: 18%;

}

main{
    width: 100%;
    height: 100%;
}

 .imgPadre{
    width: 100%;
    margin: 2% 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
 .imgPadre2 {
     width: 100%;
     margin: 2% 0 0 0;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
 }
 .imgPadre3 {
     width: 100%;
     margin: 2% 0 0 0;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
 }
 .imgPadre4 {
     width: 100%;
     margin: 2% 0 0 0;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
 }
 .imgPadre5{
     width: 100%;
     margin: 2%  0 0 0;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
 }